.cookie-status-message {
    display: none;
}

.main-panel-top {
    display: none;
}

.page-header.type2 .search-area {
    padding-left: 0;
    max-width: 618px;
}

.page-header.type2 .nav-sections .nav-sections-items {
    border-top: 1px solid #f4f4f4;
}

.page-header.type2 .navigation>ul:before {
    border-top: 0 !important;
}

.page-header.type2 .navigation .level0 .level-top:before {
    display: none;
}

.cms-index-index .container .porto-products .section-title .inline-title {
    color: #707070;
    font-size: 26px;
}

.cms-index-index .container .porto-products .thumb-info-wrap .thumb-info-title .sub-title {
    color: #707070;
    font-size: 18px;
}

.cms-index-index .container .porto-products .thumb-info-wrap .thumb-info-title .thumb-info-type {
    font-size: 14px;
}

.product-item-info .product-item-details .product-item-name .product-item-link {
    color: #707070;
    font-weight: 700;
    font-size: 20px;
}

.product-item-info .product-item-details .price-box .price {
    color: #707070;
    font-weight: 400;
}

.product-item-info .product-item-details .product-item-actions .tocart {
    background: transparent;
    color: #707070;
    font-weight: 400;
}

.product-item-info .product-item-details .product-item-actions .actions-secondary.towishlist,
.product-item-info .product-item-details .product-item-actions .actions-secondary.tocompare {
    background: transparent;
    color: #707070;
    opacity: 1;
    visibility: visible;
}

.page-footer .footer-top .custom-block {
    display: block;
}

.footer-top .custom-block:before {
    border-top: 0;
}

.footer-top .custom-block:after {
    border-top: 1px solid #FFFFFF45;
}

.page-footer .wrp-newsletter {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.page-footer .wrp-newsletter .logo_block,
.page-footer .wrp-newsletter .form_block {
    flex: 50%;
}

.page-footer .wrp-newsletter .logo_block p,
.page-footer .wrp-newsletter .form_block p {
    margin: 0;
}

.page-footer .wrp-newsletter .logo_block img {
    width: 118px;
    display: inline-block;
}

.page-footer .wrp-newsletter .logo_block .textwidget {
    display: inline-block;
    margin: 4px 0 0 20px;
    vertical-align: top;
}

.page-footer .wrp-newsletter .logo_block .textwidget h3 {
    font-size: 22px;
    margin-bottom: 0;
}

.page-footer .wrp-newsletter .form_block {
    max-width: 450px;
}

.page-footer .wrp-newsletter .form_block .block.newsletter {
    position: relative;
    margin-bottom: 6px;
}

.page-footer .wrp-newsletter .form_block .subscribe .field.newsletter {
    margin-bottom: 0;
}

.page-footer .wrp-newsletter .form_block .subscribe .field.newsletter input {
    background: #fff;
    border-radius: 0;
    padding: 0 154px 0 20px;
    height: 42px;
}

.page-footer .wrp-newsletter .form_block .subscribe .actions {
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    width: 134px;
    height: 42px;
}

.page-footer .wrp-newsletter .form_block .subscribe .actions .subscribe {
    width: 100%;
    height: 100%;
    margin: 0;
    border-radius: 0;
    background: #8AD4D7;
    font-weight: 400;
    padding: 0;
}

.page-footer .wrp-newsletter .form_block .subscribe .actions .subscribe:hover {
    background: #08c;
}

.page-footer .wrp-newsletter .form_block p a {
    text-decoration: underline;
}

.page-footer .wrp-newsletter .form_block p a:hover {
    text-decoration: none;
}

.page-footer .footer-middle .widget .widget-title {
    margin-bottom: 6px;
    font-weight: 400;
    font-size: 16px;
}

.page-footer .footer .follow-us {
    margin: 0 0 50px 0;
}

.page-footer .footer .follow-us .share-links a {
    border: 0;
    border-radius: 0;
    width: 25px;
    height: 25px;
}

.page-footer .footer-middle>.container::after {
    border-bottom: 1px solid #FFFFFF45;
}

.page-footer .footer-bottom .payment-icons img {
    max-width: 430px;
}

.wrp-category-banner {
    background-position: center;
    position: relative;
    padding: 0 20px;
}

.wrp-category-banner:before {
    content: '';
    background: #000;
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.2;
    z-index: 8;
}

.wrp-category-banner .category-description {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
}

.wrp-category-banner .description-content {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
    width: 700px;
    z-index: 9;
}

.wrp-category-banner .description-content .category-name {
    color: #fff;
    font-size: 72px;
    font-weight: 700;
    margin: 0 0 10px 0;
    display: block;
    line-height: 110%;
}

.wrp-category-banner .description-content p {
    color: #fff;
    font-size: 18px;
    line-height: 120%;
}

.product-info-main .page-title-wrapper h1,
.product-options-bottom,
.product-info-price,
.qty.field .input-text.qty,
.col.qty .input-text.qty {
    color: #707070;
}

.box-tocart .action.tocart {
    background: transparent;
    border: 1px solid #ddd;
    color: #707070;
    font-weight: 400;
}

.box-tocart .action.tocart:hover {
    background: #00C1D4;
    color: #fff;
    border: 1px solid #00C1D4;
}

.action.tocompare,
.product-addto-links .action.tocompare,
.moved-add-to-links .action.tocompare,
.product-addto-links .action.towishlist {
    color: #7A7A7A
}

.product-social-links {
    display: none;
}

@media only screen and (min-width: 992px) {
    .page-header.type2 .navigation:not(.side-megamenu) .level0:last-child {
        float: right;
        margin-right: 0;
    }
}

@media only screen and (min-width: 768px) {
    .block-search {
        padding-left: 0 !important;
    }
}

@media only screen and (max-width: 1199px) {
    .page-footer .wrp-newsletter {
        display: block;
        flex-direction: unset;
        flex-wrap: unset;
        width: 100%;
    }
    .page-footer .wrp-newsletter .logo_block,
    .page-footer .wrp-newsletter .form_block {
        flex: unset;
    }
    .page-footer .wrp-newsletter .logo_block {
        margin-bottom: 30px !important;
    }
    .wrp-category-banner .category-description {
        max-width: 960px;
    }
}

@media only screen and (max-width: 767px) {
    .page-footer .wrp-newsletter .logo_block {
        text-align: center;
    }
    .page-footer .wrp-newsletter .logo_block .textwidget {
        display: block;
        margin: 20px 0 0 0;
    }
    .page-footer .wrp-newsletter .logo_block p,
    .page-footer .wrp-newsletter .form_block p {
        line-height: 120%;
    }
    .footer-bottom>.container>address {
        line-height: 160% !important;
    }
    .wrp-category-banner .description-content {
        width: 100%;
    }
}